<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="./css/layout.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>

  <section id="editor">
    <h1>Editor</h1>
    <p id="hint"></p>
    <textarea id="input"></textarea>
    <button id="submit">SUBMIT</button>
  </section>

  <section id="console">
    <h1>Console</h1>
    <hr class="console-spliter">
  </section>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/util.js"></script>
  <script src="./js/index.js"></script>

</body>
</html>