<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="./css/layout.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>

  <section id="editor">
    <h1>Editor</h1>
    <p class="button-row">
      <button id="run" class="button">RUN</button>
      <button id="halt" class="button">STOP</button>
    </p>
    <p id="hint"></p>
    <textarea id="input" autofocus="true"></textarea>
  </section>

  <section id="console">
    <h1>Console</h1>
    <h4>
      <span id="online">0</span> user(s) online, 
      <span id="running">0</span> program(s) running
    </h4>
    <hr class="console-spliter">
    <div id="log"></div>
  </section>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/util.js"></script>
  <script src="./js/index.js"></script>

</body>
</html>