#editor,
#console {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

/* ----- editor start ----- */
#editor {
  padding: 1em;
  left: 0;
  border-right: 1px solid #0f0;
}

#hint {
  width: 80%;
  margin: 0.5em auto;
}
.hint-error {
  color: #f00;
}
.hint-success {
  color: #0f0;
}
.hint-processing {
  color: #00f;
}

#input {
  width: 80%;
  height: 70%;
  display: block;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid #0f0;
  font-size: 1em;
  resize: none;
}

.button-row {
  text-align: center;
}

.button {
  width: 6em;
  height: 3em;
  margin: 1em auto;
  background: #000;
  color: #0f0;
  border: 0.1em solid #0f0;
  cursor: pointer;
}
/* ----- editor end ----- */

/* ----- console start ----- */
#console {
  right: 0;
  border-left: 1px solid #0f0;
}
#console h1 {
  margin: 1em;
}
#console h4 {
  position: absolute;
  right: 1em;
  top: 1.8em;
}

.console-spliter {
  border-top: 1px solid #0f0;
}

#log {
  width: 100%;
  height: calc(100% - 4.5em - 1px);
  padding: 0.5em;
  box-sizing: border-box;
  overflow: auto;
}
#log p[class="error"],
#log p[class="error"] * {
  color: #f00;
}

#totop {
  width: 2.5em;
  height: 2.5em;
  position: fixed;
  right: 2em;
  bottom: 1em;
  display: none;
}
/* ----- console end ----- */

/* ----- for mobile ----- */
@media (max-width: 1000px) {
  #editor,
  #console {
    width: 100%;
    left: 0;
    border: none;
  }

  #console {
    top: 100%;
  }

  #console h1 {
    margin-bottom: 0.3em;
  }

  #console h4 {
    position: relative;
    margin-bottom: 0.2em;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 0.8em;
  }
  #console h4 * {
    font-size: 0.8em;
  }
}